{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}Bildungsfeiertag{% endblock %}

{% block main %}

{% if not site.callforeventsclosed %}

{% if user.is_authenticated and user.username %}

<form action="" method="post">
<div class="index-grid">
  {% trans "Create / Change a subevent"%}.
  {% csrf_token %}
  {{ form|crispy }}

  <input type="submit" value="Submit">
</div>
</form>

  {% if messages %}
      {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
  {% endif %}

{% if not create %}
  <a href='../event/{{event.title}}/delete'>{% trans "Delete this event." %}</a>
{% endif %}

{% else %}
{% if not user.is_authenticated %}
{% trans "You have to "%} <a href="/accounts/login">{% trans "log in" %}</a> {% trans "to propose new subevents"%}.
{% elif not user.username %}
{% trans "You have to have a username to propose subevents." %}
{% endif %}
{% endif %}

{% else %}
{% trans "Unfortunately the call for event propositions for the Bildungsfeiertag at {{site.name}} is closed now." %}
{% endif %}

{% endblock %}
