{% extends "base.html" %}
{% load i18n %}

{% block title %}Bildungsfeiertag{% endblock %}

{% block main %}

<div class="index-grid">

  {% if event %}
  <h3>{{event.title}}</h3>
  <div class="index-cell">
    {{event_text|safe}}
  </div>
  {{votes}} {% trans "votes" %}.

{% if user.is_authenticated and event.active %}
{% if not site.votingclosed %}
{% if vote %}
<form action="" method="post">
  {% csrf_token %}
    <input type="submit" value="{% trans 'Unvote.'%}">
</form>
{% else %}
<form action="" method="post">
  {% csrf_token %}
    <input type="submit" value="{% trans 'Vote.' %}">
</form>
{% endif %}
{% endif %}
{% endif %}

{% if event.speaker == user %}
<a href="../event_change/{{event.title}}">{% trans "Change this event." %}</a>
{% endif %}
  {% endif %}
</div>


{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% endblock %}
