
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Bildungsfeiertag{% endblock %}

{% block main %}

{% if not site.callforeventsclosed %}

{% if user.is_authenticated and user.username %}

<form action="" method="post">
<div class="index-grid">
  Erstelle / Aendere eine Teilveranstaltung.
  {% csrf_token %}
  {{ form|crispy }}

  <input type="submit" value="Submit">
</div>
</form>

  {% if messages %}
      {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
      {% endfor %}
  {% endif %}

{% if not create %}
  <a href='../event/{{event.title}}/delete'>Delete this event.</a>
{% endif %}

{% else %}
{% if not user.is_authenticated %}
Sie muessen sich einloggen, um eine Teilveranstaltung erstellen zu koennen.
{% elif not user.username %}
Sie muessen sich ein Pseudonym geben, um eine Teilveranstaltung erstellen zu koennen.
{% endif %}
{% endif %}

{% else %}
Leider kann man ueber diesen Weg keine Events mehr fuer den Bildungsfeiertag am {{site.name}} erstellen.
{% endif %}

{% endblock %}
