{% extends "base.html" %}
{% load i18n %}

{% block title %}Bildungsfeiertag{% endblock %}

{% block main %}

<div class="home-summary">
    {{ text.html|safe }}
</div>

<div class="index-grid">
    <div class="section" id="sites">
        <h2>{% trans "Event Sites" %}</h2>
        {% if sites %}
          {% for site in sites %}
            {% include "site-overview.html" %}
          {% endfor %}
        {% else %}
            <p>{% trans "Unfortunately, there are no Bildungsfeiertag sites yet."</p>
        {% endif %}
    </div>
</div>
{% endblock %}
