{% extends "base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block title %}Bildungsfeiertag{% endblock %}

{% block main %}

{% if user.is_authenticated %}

<h3> {% trans "Your proposed subevents" %} </h3>
{% if sites_events %}
{% for site, event in sites_events %}
    <div class="index-cell" id="event">
        {% include "event-overview.html" %}
    </div>
{% endfor %}
{% else %}
    <p>{% trans "You didn't propose a subevent for Bildungsfeiertag yet." %}</p>
{% endif %}

<h3> {% trans "Your votes" %} </h3>
{% if sites_events_voted %}
{% for site, event in sites_events_voted %}
    <div class="index-cell" id="event">
        {% include "event-overview.html" %}
    </div>
{% endfor %}
{% else %}
    <p>{% trans "You didn't vote for any subevent yet." %}</p>
{% endif %}


<h4> {% trans "Your personal information"%} </h4>

<form action="" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% trans 'Change' %}">
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}


{% else %}
{% trans "You are not logged in." %}
{% endif %}

{% endblock %}
