{% extends "base.html" %}
{% load i18n %}

{% block title %}Bildungsfeiertag{% endblock %}

{% block main %}

<div class="index-grid">
  {% if room %}
  <h2>{{room}}</h2>
  <h3>Vortraege</h3>
        {% if scheduled_events %}
        {% for scheduled_event in scheduled_events %}
            <div class="index-cell" id="event">
            {% include "scheduled-event-overview.html" %}
            </div>
        {% endfor %}
        {% else %}
            <p>{% trans "There are no subevents planned in this room." %}</p>
        {% endif %}
{% endif %}
</div>
{% endblock %}
